:root {
    --primary-clr: rgb(101, 170, 248);
    --secondary-clr: white;
    --bg-clr: lightgray;
    --accent-clr: rgb(255, 187, 0);
}

body {
    margin: 0;
}

.container {
    background-color: var(--bg-clr);
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}

.nav {
    background-color: var(--primary-clr);
    grid-row: span 2;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects-container {
    grid-row: span 2;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}



.header, 
.card,
.announcement,
.trend-item {
    background-color: var(--secondary-clr);
}